.coltrans{
    background-color: transparent;
}

#milieu{
    display: flex;
    align-items: center;
}

#fin{
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    
}